.wrapper {
    padding: 4px;
    background-color: #fff;
    margin-top: 12px;
    margin-right: 16px;
    border-radius: 8px;
}
.wrapperList {
    list-style: none;
    padding: 0 0;
}
.wrapperName {
}
.wrapperItem {
    padding: 8px 16px;
    width: 100%;
}

.wrapperItemLink {
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}
.wrapprerImg {
    width: 32px;
    height: 32px;
    opacity: 1;
}
