.wrapper {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 24px;
    background-color: #f5f5fa;
}
.wrapperTitle {
    background: rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 12px;
    display: flex;
    top: 20px;
    -webkit-box-align: center;
    align-items: center;
}
.warpperIconItem {
    width: 76px;
    height: 20px;
    opacity: 1;
}
.quantity {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 84px;
    justify-content: space-between;
}
.buttonquantity {
    background-color: #fff;
    border: none;
}
.inputQuantity {
    border: none;
    background: transparent;
    width: 32px;
    text-align: center;
    font-size: 13px;
    appearance: none;
    margin: 0px;
    outline: none;
}
.imgQuantityminus {
    display: inline-block;
    border-right: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.imgQuantitySum {
    display: inline-block;
    border-left: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.wrapperRightList {
    display: flex;
    justify-content: space-between;
}
.wrapperRight {
    background-color: #fff;
    margin-left: 16px;
    padding: 8px 16px;
    margin-bottom: 16px;
}
.carfreeship {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
}
.carfreeshiplist {
    min-width: 60px;
    height: 60px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    position: relative;
    align-items: center;
    align-self: center;
    -webkit-box-pack: center;
    background-color: #69a1d8;
    justify-content: center;
}
.carfreeship {
    position: absolute;
    width: 44px;
    height: 44px;
}

.price {
    color: rgb(255, 66, 78);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
}
.muangay {
    background: rgb(255, 66, 78);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    width: 100%;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 16px;
    line-height: 150%;
}
.hinhthucgiao {
    background: rgb(240, 248, 255);
    border: 1px solid rgb(194, 225, 255);
    border-radius: 10px;
    padding: 16px;
    display: grid;
    row-gap: 12px;
    width: 50%;
    margin-bottom: 16px;
}
.hinhthucthanhtoan {
    background: #fff;
    border: 1px solid rgb(194, 225, 255);
    border-radius: 10px;
    padding: 16px;
    display: grid;
    row-gap: 12px;
    margin-bottom: 16px;
}
.priceShip {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 171, 86);
    padding: 0px 4px;
    background-color: rgb(255, 255, 255);
    margin-left: 4px;
    border-radius: 4px;
}
.cardEmpty {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 8px;
}
