.wrapperItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 20px;
}
.avatar {
    background-color: rgb(240, 248, 255);
    border-radius: 50%;
    width: 112px;
    height: 112px;
    border: 4px solid rgb(194, 225, 255);
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}
.wrapperInput {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    padding: 10px 12px;
    line-height: 20px;
    outline: none;
    flex: 1 1 0%;
    border: 1px solid rgb(196, 196, 207);
}
.wrapperName {
    margin-right: 30px;
    width: 110px;
    min-width: 110px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin-right: 16px;
}
.wrapperRight {
    display: 'flex';
    align-items: center;
    padding-top: 20px;
}
.btnCapNhat {
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid rgb(11, 116, 229);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0px 12px;
    color: rgb(11, 116, 229);
}
.imgInputmodal {
    position: absolute;
    left: 55px;
    top: 55%;
    transform: translateY(-50%);
    width: 24px;
}
.inputmodal {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    padding: 10px 12px;
    line-height: 20px;
    outline: none;
    flex: 1 1 0%;
    border: 1px solid rgb(196, 196, 207);
    padding-left: 40px;
}
.inputUpdate {
    width: 200px;
    border: 1px solid #ddd;
    height: 25px;
    border-radius: 4px;
}
.inputUpdate :focus-visible {
    border-color: #fff;
}
