.wrapper {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f5f5fa;
}

.warpperIconItem {
    width: 76px;
    height: 20px;
    opacity: 1;
}
.quantity {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 84px;
    justify-content: space-between;
}
.buttonquantity {
    background-color: #fff;
    border: none;
}
.inputQuantity {
    border: none;
    background: transparent;
    width: 32px;
    text-align: center;
    font-size: 13px;
    appearance: none;
    margin: 0px;
    outline: none;
}
.imgQuantityminus {
    display: inline-block;
    border-right: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.imgQuantitySum {
    display: inline-block;
    border-left: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.wrapperRightList {
    display: flex;
    justify-content: space-between;
}
.wrapperRight {
    background-color: #fff;
    margin-left: 16px;
    padding: 8px 16px;
}
.carfreeship {
    position: absolute;
    top: 0px;
    width: 44px;
    left: 10px;
    height: 100%;
    object-fit: contain;
}

.carfreeshiplist {
    min-width: 60px;
    height: 60px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    position: relative;
    align-items: center;
    align-self: center;
    -webkit-box-pack: center;
    border: 1px solid #5693f5;
    border-radius: 8px;

    background-color: #e5f2ff;
    justify-content: center;
}

.price {
    color: rgb(255, 66, 78);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
}
.muangay {
    background: rgb(255, 66, 78);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    width: 100%;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 16px;
    line-height: 150%;
}

.hinhthucthanhtoan {
    background: #fff;
    border: 1px solid rgb(194, 225, 255);
    border-radius: 10px;
    width: 98%;
    margin-left: 9px;
    padding: 16px;
    display: grid;
    row-gap: 12px;
    margin-bottom: 16px;
}
.priceShip {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 171, 86);
    padding: 0px 4px;
    background-color: rgb(255, 255, 255);
    margin-left: 4px;
    border-radius: 4px;
}
.bochon {
    font-weight: 500;
    letter-spacing: 0px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 127, 255);
    border: none;
    font-size: 13px;
    line-height: 20px;
    padding: 2px 12px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 20px;
    margin-left: auto;
}
.wrapperItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.PaymentWrapperLeft {
    width: 480px;
    margin-right: 40px;
}

.PaymentWrapper {
    display: flex;
    align-items: center;
    padding: 32px 16px;
    margin-top: 30px;
    width: 98%;
    margin-left: 9px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ddd;
}
.PaymentWrapperRight {
    background: rgb(245, 245, 250);
    border-radius: 8px;
    padding: 8px 16px;
}
.test {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(7, 148, 73);
    padding: 0px 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -2px;
    left: 12px;
    transform: translateY(-50%);
}
