.wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 16px;
    justify-content: space-between;
}
.wrapperList {
    width: 72px;
    height: 72px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ccc;
}
.btnMua {
    padding: 12px 8px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgb(11, 116, 229);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(11, 116, 229);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
}
.x1 {
    display: flex;
    align-items: center;
    background-color: rgb(221, 221, 221);
    position: absolute;
    right: 0;
    justify-content: center;
    bottom: 0;
    color: rgb(128, 128, 137);
    z-index: 10;
    font-size: 12px;
    width: 28px;
    height: 28px;
    /* margin: auto; */
    border-top-left-radius: 9px;
}
