.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapperList {
    width: 54px;
    height: 54px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
}
.btnMua {
    padding: 12px 8px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgb(11, 116, 229);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(11, 116, 229);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
}
